
singularity {

    enabled                         = true

    envWhitelist                    = "APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER"

    autoMounts                      = true

    runOptions                      = '-B "$TMPDIR"'

}

process {

    withLabel: allelic_imbalance {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/allelic_imbalance/allelic_imbalance.sif'

    }

    withLabel: deeptools {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/deeptools/deeptools.sif'

    }

    withLabel: fastqc {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/trimgalore/trimgalore.sif'

    }

    withLabel: local {

        executor                    = 'local'

        container                   = ''

    }

    withLabel: leafcutter {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/leafcutter/leafcutter.sif'

    }

    withLabel: outrider {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1 --qos ucgd-prod-rw'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/outrider/outrider.sif'

    }

    withLabel: python {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/python/python.sif'

    }

    withLabel: samtools {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/samtools/samtools.sif'

    }

    withLabel: star {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1 --mem=100G'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/star/star.sif'

    }

    withLabel: trimgalore {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/trimgalore/trimgalore.sif'

    }

    withLabel: variantcalling {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/gatk/gatk.sif"

    }

}

params {
    
    // Main resources paths/variables
    source_file                     = "/path/to/source/file" // N.B. Assumed to be in the same folder of the fastq files, or that the fastq paths are absolute
    genome_fasta_path               = "/scratch/ucgd/lustre-core/common/data/Reference/homo_sapiens/GRCh38/primary_assembly_decoy_phix.fa"
    genome_annotation_path          = "/scratch/ucgd/lustre-core/common/data/Reference/homo_sapiens/GRCh38/ensembl-104/genes.gtf"
    star_index_dir                  = "/scratch/ucgd/lustre-core/common/data/Reference/homo_sapiens/GRCh38/ensembl-104/genes.gtf.sidx/100"
    control_cohort_junc_dir         = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/diagnostic_rnaseq_control_cohort/whole_blood/junc_files"
    control_cohort_counts_dir       = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/diagnostic_rnaseq_control_cohort/whole_blood/gene_counts"
    hpo_obo_path                    = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/hpo/hp.obo"
    genes_to_phenotype_path         = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/hpo/genes_to_phenotype.txt"
    target_hpo_terms_path           = ""
    genomic_vcf_path                = ""

    // Main output directories
    resources_dir                   = "0_resources"
    reads_list_subdir               = "reads_list"
    fasta_index_subdir              = "fasta_index"
    star_index_subdir               = "star_index"
    gatk_dict_subdir                = "gatk_dict"
    qc_dir                          = "0_qc"
    fastqc_subdir                   = "fastqc"
    trimming_subdir                 = "trimgalore"
    star_subdir                     = "star_run"
    bw_subdir                       = "bw"
    sj_bed_subdir                   = "sj_bed"
    duplication_subdir              = "duplication"
    bam_dir                         = "1_bam"
    gene_counts_dir                 = "2_gene_counts"
    junc_dir                        = "3_junc"
    intron_clusters_dir             = "4_intron_clusters"
    leafcuttermd_out                = "5_leafcutter_md"
    spot_out                        = "5_spot"
    outrider_out                    = "5_outrider"
    variants_out                    = "5_vcf"
    allelic_imbalance_out           = "5_allelic_imbalance"
    data_integration_out            = "6_data_integration"

    // Run TrimGalore?
    trim_reads                      = true

    // Parameters for TrimGalore as a single line of text
    // Common parameters:
    // --adapter                    = Adapter sequence
    // --length                     = Discard reads that became shorter than specified bp after trimming
    // --max_length                 = Discard reads that are longer than specified bp after trimming (only for single-end reads)
    // --stringency                 = Overlap in bp with adapter sequence required to trim a sequence
    // --clip_R1                    = Remove bp from the 5' end of read 1 (or single-end reads)
    // --clip_R2                    = Remove bp from the 5' end of read 2 (paired-end reads only)
    // --three_prime_clip_R1        = Remove bp from the 3' end of read 1 (or single-end reads) AFTER adapter/quality trimming has been performed
    // --three_prime_clip_R2        = Remove bp from the 3' end of read 2 (paired-end reads only) AFTER adapter/quality trimming has been performed
    trimgalore_params               = "--length 15"

    // Parameters for STAR index
    read_length                     = 150
    saindexnbases                   = 14

    // BAM counting with STAR quantMode or featureCounts
    strand                          = "unstranded" // Possible values: unstranded, stranded, reversestrand

    // OUTRIDER gene filtering
    min_counts                      = 10

    // Adjusted p values threshold
    pval_threshold                  = 0.05

    // Ploidy for variant calling
    ploidy                          = 2

    // If true, HaplotypeCaller will run in EMIT_VARIANTS_ONLY mode
    // If false, HaplotypeCaller will run in EMIT_ALL_CONFIDENT_SITES mode
    variants_only                   = true

    // Min depth of variants for ASE analysis
    min_depth                       = 20

}
