
singularity {

    enabled                     	= true

    envWhitelist                	= "APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER"

    autoMounts                  	= true

    runOptions                 		= '-B "$TMPDIR"'

}

process {

	container               	= "diagnostic_rnaseq"

    withLabel: local {

    	executor			= 'local'

	container			= ''

    }

    withLabel: slurm {

    	executor			= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries			= 10

    }

    withLabel: star {

    	executor			= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1 --mem=100G'

    	errorStrategy			= 'retry'
    	
    	maxRetries			= 10

    }

}

params {
    
	// Main resources paths/variables
	source_file			= "/path/to/source/file" // N.B. Assumed to be in the same folder of the fastq files, or that the fastq paths are absolute
	genome_fasta_path		= "/scratch/ucgd/lustre/common/data/Reference/homo_sapiens/GRCh38/primary_assembly_decoy_phix.fa"
	genome_annotation_path		= "/scratch/ucgd/lustre/common/data/Reference/homo_sapiens/GRCh38/ensembl-104/genes.gtf"
	star_index_dir			= "/scratch/ucgd/lustre/common/data/Reference/homo_sapiens/GRCh38/ensembl-104/genes.gtf.sidx/100"
	control_cohort_junc_dir		= "/path/to/control/cohort/junc/dir"
	control_cohort_counts_dir	= "/path/to/control/cohort/gene/counts/dir"

	// Main output directories
	fastqc_dir			= "0_fastqc"
	bam_dir				= "1_bam"
	gene_counts_dir			= "2_gene_counts"
	star_reports			= "star_run"
	junc_dir			= '3_junc'
	intron_clusters			= '4_intron_clusters'
	leafcuttermd_out		= '5_leafcutter_md'
	spot_out			= '5_spot'
	outrider_out			= '5_outrider'

	// Parameters for STAR index
	read_length			= 150
	saindexnbases			= 14

	// BAM counting with STAR quantMode or featureCounts
	strand				= "unstranded" // Possible values: unstranded, stranded, reversestrand

	// OUTRIDER gene filtering
	min_counts			= 10

	// Adjusted p values threshold
	pval_threshold			= 0.05

}
